<!DOCTYPE html>
<html>
<head>
  <title>DeviseTutorial</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag :defaults %>
</body>
</html>
